.carousel .slide p {
  background: none;
  color: black;
  font-family: sans-serif; 
}

.carousel .slide {
    background: #F8F8F8;
}

.carousel .control-dots .dot {
  width: 15px;
  height: 15px;
  box-shadow: none;
  border: solid #3980BE 1px;

}

.carousel .control-dots .dot.selected {
   background-color: #3980BE;
}